

.bg-red.lighten-5 {
    background-color: #ffebee!important
}

.bg-red.lighten-4 {
    background-color: #ffcdd2!important
}

.bg-red.lighten-3 {
    background-color: #ef9a9a!important
}

.bg-red.lighten-2 {
    background-color: #e57373!important
}

.bg-red.lighten-1 {
    background-color: #ef5350!important
}

.bg-red {
    background-color: #f44336!important
}

.text-red {
    color: #f44336!important
}

.bg-rgba-red-slight,.rgba-red-slight:after {
    background-color: rgba(244,67,54,.1)
}

.bg-rgba-red-light,.rgba-red-light:after {
    background-color: rgba(244,67,54,.3)
}

.bg-rgba-red-strong,.rgba-red-strong:after {
    background-color: rgba(244,67,54,.7)
}

.bg-red.darken-1 {
    background-color: #e53935!important
}

.bg-red.darken-2 {
    background-color: #d32f2f!important
}

.bg-red.darken-3 {
    background-color: #c62828!important
}

.bg-red.darken-4 {
    background-color: #b71c1c!important
}

.bg-red.accent-1 {
    background-color: #ff8a80!important
}

.bg-red.accent-2 {
    background-color: #ff5252!important
}

.bg-red.accent-3 {
    background-color: #ff1744!important
}

.bg-red.accent-4 {
    background-color: #d50000!important
}

.bg-pink.lighten-5 {
    background-color: #fce4ec!important
}

.bg-pink.lighten-4 {
    background-color: #f8bbd0!important
}

.bg-pink.lighten-3 {
    background-color: #f48fb1!important
}

.bg-pink.lighten-2 {
    background-color: #f06292!important
}

.bg-pink.lighten-1 {
    background-color: #ec407a!important
}

.bg-pink {
    background-color: #e91e63!important
}

.text-pink {
    color: #e91e63!important
}

.bg-rgba-pink-slight,.rgba-pink-slight:after {
    background-color: rgba(233,30,99,.1)
}

.bg-rgba-pink-light,.rgba-pink-light:after {
    background-color: rgba(233,30,99,.3)
}

.bg-rgba-pink-strong,.rgba-pink-strong:after {
    background-color: rgba(233,30,99,.7)
}

.bg-pink.darken-1 {
    background-color: #d81b60!important
}

.bg-pink.darken-2 {
    background-color: #c2185b!important
}

.bg-pink.darken-3 {
    background-color: #ad1457!important
}

.bg-pink.darken-4 {
    background-color: #880e4f!important
}

.bg-pink.accent-1 {
    background-color: #ff80ab!important
}

.bg-pink.accent-2 {
    background-color: #ff4081!important
}

.bg-pink.accent-3 {
    background-color: #f50057!important
}

.bg-pink.accent-4 {
    background-color: #c51162!important
}

.bg-purple.lighten-5 {
    background-color: #f3e5f5!important
}

.bg-purple.lighten-4 {
    background-color: #e1bee7!important
}

.bg-purple.lighten-3 {
    background-color: #ce93d8!important
}

.bg-purple.lighten-2 {
    background-color: #ba68c8!important
}

.bg-purple.lighten-1 {
    background-color: #ab47bc!important
}

.bg-purple {
    background-color: #9c27b0!important
}

.text-purple {
    color: #9c27b0!important
}

.bg-rgba-purple-slight,.rgba-purple-slight:after {
    background-color: rgba(156,39,176,.1)
}

.bg-rgba-purple-light,.rgba-purple-light:after {
    background-color: rgba(156,39,176,.3)
}

.bg-rgba-purple-strong,.rgba-purple-strong:after {
    background-color: rgba(156,39,176,.7)
}

.bg-purple.darken-1 {
    background-color: #8e24aa!important
}

.bg-purple.darken-2 {
    background-color: #7b1fa2!important
}

.bg-purple.darken-3 {
    background-color: #6a1b9a!important
}

.bg-purple.darken-4 {
    background-color: #4a148c!important
}

.bg-purple.accent-1 {
    background-color: #ea80fc!important
}

.bg-purple.accent-2 {
    background-color: #e040fb!important
}

.bg-purple.accent-3 {
    background-color: #d500f9!important
}

.bg-purple.accent-4 {
    background-color: #a0f!important
}

.bg-deep-purple.lighten-5 {
    background-color: #ede7f6!important
}

.bg-deep-purple.lighten-4 {
    background-color: #d1c4e9!important
}

.bg-deep-purple.lighten-3 {
    background-color: #b39ddb!important
}

.bg-deep-purple.lighten-2 {
    background-color: #9575cd!important
}

.bg-deep-purple.lighten-1 {
    background-color: #7e57c2!important
}

.bg-deep-purple {
    background-color: #673ab7!important
}

.text-deep-text {
    color: #673ab7!important
}

.bg-rgba-deep-purple-slight,.rgba-deep-purple-slight:after {
    background-color: rgba(103,58,183,.1)
}

.bg-rgba-deep-purple-light,.rgba-deep-purple-light:after {
    background-color: rgba(103,58,183,.3)
}

.bg-rgba-deep-purple-strong,.rgba-deep-purple-strong:after {
    background-color: rgba(103,58,183,.7)
}

.bg-deep-purple.darken-1 {
    background-color: #5e35b1!important
}

.bg-deep-purple.darken-2 {
    background-color: #512da8!important
}

.bg-deep-purple.darken-3 {
    background-color: #4527a0!important
}

.bg-deep-purple.darken-4 {
    background-color: #311b92!important
}

.bg-deep-purple.accent-1 {
    background-color: #b388ff!important
}

.bg-deep-purple.accent-2 {
    background-color: #7c4dff!important
}

.bg-deep-purple.accent-3 {
    background-color: #651fff!important
}

.bg-deep-purple.accent-4 {
    background-color: #6200ea!important
}

.bg-indigo.lighten-5 {
    background-color: #e8eaf6!important
}

.bg-indigo.lighten-4 {
    background-color: #c5cae9!important
}

.bg-indigo.lighten-3 {
    background-color: #9fa8da!important
}

.bg-indigo.lighten-2 {
    background-color: #7986cb!important
}

.bg-indigo.lighten-1 {
    background-color: #5c6bc0!important
}

.bg-indigo {
    background-color: #3f51b5!important
}

.text-indigo {
    color: #3f51b5!important
}

.bg-rgba-indigo-slight,.rgba-indigo-slight:after {
    background-color: rgba(63,81,181,.1)
}

.bg-rgba-indigo-light,.rgba-indigo-light:after {
    background-color: rgba(63,81,181,.3)
}

.bg-rgba-indigo-strong,.rgba-indigo-strong:after {
    background-color: rgba(63,81,181,.7)
}

.bg-indigo.darken-1 {
    background-color: #3949ab!important
}

.bg-indigo.darken-2 {
    background-color: #303f9f!important
}

.bg-indigo.darken-3 {
    background-color: #283593!important
}

.bg-indigo.darken-4 {
    background-color: #1a237e!important
}

.bg-indigo.accent-1 {
    background-color: #8c9eff!important
}

.bg-indigo.accent-2 {
    background-color: #536dfe!important
}

.bg-indigo.accent-3 {
    background-color: #3d5afe!important
}

.bg-indigo.accent-4 {
    background-color: #304ffe!important
}

.bg-blue.lighten-5 {
    background-color: #e3f2fd!important
}

.bg-blue.lighten-4 {
    background-color: #bbdefb!important
}

.bg-blue.lighten-3 {
    background-color: #90caf9!important
}

.bg-blue.lighten-2 {
    background-color: #64b5f6!important
}

.bg-blue.lighten-1 {
    background-color: #42a5f5!important
}

.bg-blue {
    background-color: #2196f3!important
}

.text-blue {
    color: #2196f3!important
}

.bg-rgba-blue-slight,.rgba-blue-slight:after {
    background-color: rgba(33,150,243,.1)
}

.bg-rgba-blue-light,.rgba-blue-light:after {
    background-color: rgba(33,150,243,.3)
}

.bg-rgba-blue-strong,.rgba-blue-strong:after {
    background-color: rgba(33,150,243,.7)
}

.bg-blue.darken-1 {
    background-color: #1e88e5!important
}

.bg-blue.darken-2 {
    background-color: #1976d2!important
}

.bg-blue.darken-3 {
    background-color: #1565c0!important
}

.bg-blue.darken-4 {
    background-color: #0d47a1!important
}

.bg-blue.accent-1 {
    background-color: #82b1ff!important
}

.bg-blue.accent-2 {
    background-color: #448aff!important
}

.bg-blue.accent-3 {
    background-color: #2979ff!important
}

.bg-blue.accent-4 {
    background-color: #2962ff!important
}

.bg-light-blue.lighten-5 {
    background-color: #e1f5fe!important
}

.bg-light-blue.lighten-4 {
    background-color: #b3e5fc!important
}

.bg-light-blue.lighten-3 {
    background-color: #81d4fa!important
}

.bg-light-blue.lighten-2 {
    background-color: #4fc3f7!important
}

.bg-light-blue.lighten-1 {
    background-color: #29b6f6!important
}

.bg-light-blue {
    background-color: #03a9f4!important
}

.text-light-text {
    color: #03a9f4!important
}

.bg-rgba-light-blue-slight,.rgba-light-blue-slight:after {
    background-color: rgba(3,169,244,.1)
}

.bg-rgba-light-blue-light,.rgba-light-blue-light:after {
    background-color: rgba(3,169,244,.3)
}

.bg-rgba-light-blue-strong,.rgba-light-blue-strong:after {
    background-color: rgba(3,169,244,.7)
}

.bg-light-blue.darken-1 {
    background-color: #039be5!important
}

.bg-light-blue.darken-2 {
    background-color: #0288d1!important
}

.bg-light-blue.darken-3 {
    background-color: #0277bd!important
}

.bg-light-blue.darken-4 {
    background-color: #01579b!important
}

.bg-light-blue.accent-1 {
    background-color: #80d8ff!important
}

.bg-light-blue.accent-2 {
    background-color: #40c4ff!important
}

.bg-light-blue.accent-3 {
    background-color: #00b0ff!important
}

.bg-light-blue.accent-4 {
    background-color: #0091ea!important
}

.bg-cyan.lighten-5 {
    background-color: #e0f7fa!important
}

.bg-cyan.lighten-4 {
    background-color: #b2ebf2!important
}

.bg-cyan.lighten-3 {
    background-color: #80deea!important
}

.bg-cyan.lighten-2 {
    background-color: #4dd0e1!important
}

.bg-cyan.lighten-1 {
    background-color: #26c6da!important
}

.bg-cyan {
    background-color: #00bcd4!important
}

.text-cyan {
    color: #00bcd4!important
}

.bg-rgba-cyan-slight,.rgba-cyan-slight:after {
    background-color: rgba(0,188,212,.1)
}

.bg-rgba-cyan-light,.rgba-cyan-light:after {
    background-color: rgba(0,188,212,.3)
}

.bg-rgba-cyan-strong,.rgba-cyan-strong:after {
    background-color: rgba(0,188,212,.7)
}

.bg-cyan.darken-1 {
    background-color: #00acc1!important
}

.bg-cyan.darken-2 {
    background-color: #0097a7!important
}

.bg-cyan.darken-3 {
    background-color: #00838f!important
}

.bg-cyan.darken-4 {
    background-color: #006064!important
}

.bg-cyan.accent-1 {
    background-color: #84ffff!important
}

.bg-cyan.accent-2 {
    background-color: #18ffff!important
}

.bg-cyan.accent-3 {
    background-color: #00e5ff!important
}

.bg-cyan.accent-4 {
    background-color: #00b8d4!important
}

.bg-teal.lighten-5 {
    background-color: #e0f2f1!important
}

.bg-teal.lighten-4 {
    background-color: #b2dfdb!important
}

.bg-teal.lighten-3 {
    background-color: #80cbc4!important
}

.bg-teal.lighten-2 {
    background-color: #4db6ac!important
}

.bg-teal.lighten-1 {
    background-color: #26a69a!important
}

.bg-teal {
    background-color: #009688!important
}

.text-teal {
    color: #009688!important
}

.bg-rgba-teal-slight,.rgba-teal-slight:after {
    background-color: rgba(0,150,136,.1)
}

.bg-rgba-teal-light,.rgba-teal-light:after {
    background-color: rgba(0,150,136,.3)
}

.bg-rgba-teal-strong,.rgba-teal-strong:after {
    background-color: rgba(0,150,136,.7)
}

.bg-teal.darken-1 {
    background-color: #00897b!important
}

.bg-teal.darken-2 {
    background-color: #00796b!important
}

.bg-teal.darken-3 {
    background-color: #00695c!important
}

.bg-teal.darken-4 {
    background-color: #004d40!important
}

.bg-teal.accent-1 {
    background-color: #a7ffeb!important
}

.bg-teal.accent-2 {
    background-color: #64ffda!important
}

.bg-teal.accent-3 {
    background-color: #1de9b6!important
}

.bg-teal.accent-4 {
    background-color: #00bfa5!important
}

.bg-green.lighten-5 {
    background-color: #e8f5e9!important
}

.bg-green.lighten-4 {
    background-color: #c8e6c9!important
}

.bg-green.lighten-3 {
    background-color: #a5d6a7!important
}

.bg-green.lighten-2 {
    background-color: #81c784!important
}

.bg-green.lighten-1 {
    background-color: #66bb6a!important
}

.bg-green {
    background-color: #4caf50!important
}

.text-green {
    color: #4caf50!important
}

.bg-rgba-green-slight,.rgba-green-slight:after {
    background-color: rgba(76,175,80,.1)
}

.bg-rgba-green-light,.rgba-green-light:after {
    background-color: rgba(76,175,80,.3)
}

.bg-rgba-green-strong,.rgba-green-strong:after {
    background-color: rgba(76,175,80,.7)
}

.bg-green.darken-1 {
    background-color: #43a047!important
}

.bg-green.darken-2 {
    background-color: #388e3c!important
}

.bg-green.darken-3 {
    background-color: #2e7d32!important
}

.bg-green.darken-4 {
    background-color: #1b5e20!important
}

.bg-green.accent-1 {
    background-color: #b9f6ca!important
}

.bg-green.accent-2 {
    background-color: #69f0ae!important
}

.bg-green.accent-3 {
    background-color: #00e676!important
}

.bg-green.accent-4 {
    background-color: #00c853!important
}

.bg-light-green.lighten-5 {
    background-color: #f1f8e9!important
}

.bg-light-green.lighten-4 {
    background-color: #dcedc8!important
}

.bg-light-green.lighten-3 {
    background-color: #c5e1a5!important
}

.bg-light-green.lighten-2 {
    background-color: #aed581!important
}

.bg-light-green.lighten-1 {
    background-color: #9ccc65!important
}

.bg-light-green {
    background-color: #8bc34a!important
}

.text-light-text {
    color: #8bc34a!important
}

.bg-rgba-light-green-slight,.rgba-light-green-slight:after {
    background-color: rgba(139,195,74,.1)
}

.bg-rgba-light-green-light,.rgba-light-green-light:after {
    background-color: rgba(139,195,74,.3)
}

.bg-rgba-light-green-strong,.rgba-light-green-strong:after {
    background-color: rgba(139,195,74,.7)
}

.bg-light-green.darken-1 {
    background-color: #7cb342!important
}

.bg-light-green.darken-2 {
    background-color: #689f38!important
}

.bg-light-green.darken-3 {
    background-color: #558b2f!important
}

.bg-light-green.darken-4 {
    background-color: #33691e!important
}

.bg-light-green.accent-1 {
    background-color: #ccff90!important
}

.bg-light-green.accent-2 {
    background-color: #b2ff59!important
}

.bg-light-green.accent-3 {
    background-color: #76ff03!important
}

.bg-light-green.accent-4 {
    background-color: #64dd17!important
}

.bg-lime.lighten-5 {
    background-color: #f9fbe7!important
}

.bg-lime.lighten-4 {
    background-color: #f0f4c3!important
}

.bg-lime.lighten-3 {
    background-color: #e6ee9c!important
}

.bg-lime.lighten-2 {
    background-color: #dce775!important
}

.bg-lime.lighten-1 {
    background-color: #d4e157!important
}

.bg-lime {
    background-color: #cddc39!important
}

.text-lime {
    color: #cddc39!important
}

.bg-rgba-lime-slight,.rgba-lime-slight:after {
    background-color: rgba(205,220,57,.1)
}

.bg-rgba-lime-light,.rgba-lime-light:after {
    background-color: rgba(205,220,57,.3)
}

.bg-rgba-lime-strong,.rgba-lime-strong:after {
    background-color: rgba(205,220,57,.7)
}

.bg-lime.darken-1 {
    background-color: #c0ca33!important
}

.bg-lime.darken-2 {
    background-color: #afb42b!important
}

.bg-lime.darken-3 {
    background-color: #9e9d24!important
}

.bg-lime.darken-4 {
    background-color: #827717!important
}

.bg-lime.accent-1 {
    background-color: #f4ff81!important
}

.bg-lime.accent-2 {
    background-color: #eeff41!important
}

.bg-lime.accent-3 {
    background-color: #c6ff00!important
}

.bg-lime.accent-4 {
    background-color: #aeea00!important
}

.bg-yellow.lighten-5 {
    background-color: #fffde7!important
}

.bg-yellow.lighten-4 {
    background-color: #fff9c4!important
}

.bg-yellow.lighten-3 {
    background-color: #fff59d!important
}

.bg-yellow.lighten-2 {
    background-color: #fff176!important
}

.bg-yellow.lighten-1 {
    background-color: #ffee58!important
}

.bg-yellow {
    background-color: #ffeb3b!important
}

.text-yellow {
    color: #ffeb3b!important
}

.bg-rgba-yellow-slight,.rgba-yellow-slight:after {
    background-color: rgba(255,235,59,.1)
}

.bg-rgba-yellow-light,.rgba-yellow-light:after {
    background-color: rgba(255,235,59,.3)
}

.bg-rgba-yellow-strong,.rgba-yellow-strong:after {
    background-color: rgba(255,235,59,.7)
}

.bg-yellow.darken-1 {
    background-color: #fdd835!important
}

.bg-yellow.darken-2 {
    background-color: #fbc02d!important
}

.bg-yellow.darken-3 {
    background-color: #f9a825!important
}

.bg-yellow.darken-4 {
    background-color: #f57f17!important
}

.bg-yellow.accent-1 {
    background-color: #ffff8d!important
}

.bg-yellow.accent-2 {
    background-color: #ff0!important
}

.bg-yellow.accent-3 {
    background-color: #ffea00!important
}

.bg-yellow.accent-4 {
    background-color: #ffd600!important
}

.bg-amber.lighten-5 {
    background-color: #fff8e1!important
}

.bg-amber.lighten-4 {
    background-color: #ffecb3!important
}

.bg-amber.lighten-3 {
    background-color: #ffe082!important
}

.bg-amber.lighten-2 {
    background-color: #ffd54f!important
}

.bg-amber.lighten-1 {
    background-color: #ffca28!important
}

.bg-amber {
    background-color: #ffc107!important
}

.text-amber {
    color: #ffc107!important
}

.bg-rgba-amber-slight,.rgba-amber-slight:after {
    background-color: rgba(255,193,7,.1)
}

.bg-rgba-amber-light,.rgba-amber-light:after {
    background-color: rgba(255,193,7,.3)
}

.bg-rgba-amber-strong,.rgba-amber-strong:after {
    background-color: rgba(255,193,7,.7)
}

.bg-amber.darken-1 {
    background-color: #ffb300!important
}

.bg-amber.darken-2 {
    background-color: #ffa000!important
}

.bg-amber.darken-3 {
    background-color: #ff8f00!important
}

.bg-amber.darken-4 {
    background-color: #ff6f00!important
}

.bg-amber.accent-1 {
    background-color: #ffe57f!important
}

.bg-amber.accent-2 {
    background-color: #ffd740!important
}

.bg-amber.accent-3 {
    background-color: #ffc400!important
}

.bg-amber.accent-4 {
    background-color: #ffab00!important
}

.bg-orange.lighten-5 {
    background-color: #fff3e0!important
}

.bg-orange.lighten-4 {
    background-color: #ffe0b2!important
}

.bg-orange.lighten-3 {
    background-color: #ffcc80!important
}

.bg-orange.lighten-2 {
    background-color: #ffb74d!important
}

.bg-orange.lighten-1 {
    background-color: #ffa726!important
}

.bg-orange {
    background-color: #ff9800!important
}

.text-orange {
    color: #ff9800!important
}

.bg-rgba-orange-slight,.rgba-orange-slight:after {
    background-color: rgba(255,152,0,.1)
}

.bg-rgba-orange-light,.rgba-orange-light:after {
    background-color: rgba(255,152,0,.3)
}

.bg-rgba-orange-strong,.rgba-orange-strong:after {
    background-color: rgba(255,152,0,.7)
}

.bg-orange.darken-1 {
    background-color: #fb8c00!important
}

.bg-orange.darken-2 {
    background-color: #f57c00!important
}

.bg-orange.darken-3 {
    background-color: #ef6c00!important
}

.bg-orange.darken-4 {
    background-color: #e65100!important
}

.bg-orange.accent-1 {
    background-color: #ffd180!important
}

.bg-orange.accent-2 {
    background-color: #ffab40!important
}

.bg-orange.accent-3 {
    background-color: #ff9100!important
}

.bg-orange.accent-4 {
    background-color: #ff6d00!important
}

.bg-deep-orange.lighten-5 {
    background-color: #fbe9e7!important
}

.bg-deep-orange.lighten-4 {
    background-color: #ffccbc!important
}

.bg-deep-orange.lighten-3 {
    background-color: #ffab91!important
}

.bg-deep-orange.lighten-2 {
    background-color: #ff8a65!important
}

.bg-deep-orange.lighten-1 {
    background-color: #ff7043!important
}

.bg-deep-orange {
    background-color: #ff5722!important
}

.text-deep-text {
    color: #ff5722!important
}

.bg-rgba-deep-orange-slight,.rgba-deep-orange-slight:after {
    background-color: rgba(255,87,34,.1)
}

.bg-rgba-deep-orange-light,.rgba-deep-orange-light:after {
    background-color: rgba(255,87,34,.3)
}

.bg-rgba-deep-orange-strong,.rgba-deep-orange-strong:after {
    background-color: rgba(255,87,34,.7)
}

.bg-deep-orange.darken-1 {
    background-color: #f4511e!important
}

.bg-deep-orange.darken-2 {
    background-color: #e64a19!important
}

.bg-deep-orange.darken-3 {
    background-color: #d84315!important
}

.bg-deep-orange.darken-4 {
    background-color: #bf360c!important
}

.bg-deep-orange.accent-1 {
    background-color: #ff9e80!important
}

.bg-deep-orange.accent-2 {
    background-color: #ff6e40!important
}

.bg-deep-orange.accent-3 {
    background-color: #ff3d00!important
}

.bg-deep-orange.accent-4 {
    background-color: #dd2c00!important
}

.bg-brown.lighten-5 {
    background-color: #efebe9!important
}

.bg-brown.lighten-4 {
    background-color: #d7ccc8!important
}

.bg-brown.lighten-3 {
    background-color: #bcaaa4!important
}

.bg-brown.lighten-2 {
    background-color: #a1887f!important
}

.bg-brown.lighten-1 {
    background-color: #8d6e63!important
}

.bg-brown {
    background-color: #795548!important
}

.text-brown {
    color: #795548!important
}

.bg-rgba-brown-slight,.rgba-brown-slight:after {
    background-color: rgba(121,85,72,.1)
}

.bg-rgba-brown-light,.rgba-brown-light:after {
    background-color: rgba(121,85,72,.3)
}

.bg-rgba-brown-strong,.rgba-brown-strong:after {
    background-color: rgba(121,85,72,.7)
}

.bg-brown.darken-1 {
    background-color: #6d4c41!important
}

.bg-brown.darken-2 {
    background-color: #5d4037!important
}

.bg-brown.darken-3 {
    background-color: #4e342e!important
}

.bg-brown.darken-4 {
    background-color: #3e2723!important
}

.bg-blue-grey.lighten-5 {
    background-color: #eceff1!important
}

.bg-blue-grey.lighten-4 {
    background-color: #cfd8dc!important
}

.bg-blue-grey.lighten-3 {
    background-color: #b0bec5!important
}

.bg-blue-grey.lighten-2 {
    background-color: #90a4ae!important
}

.bg-blue-grey.lighten-1 {
    background-color: #78909c!important
}

.bg-blue-grey {
    background-color: #607d8b!important
}

.text-blue-text {
    color: #607d8b!important
}

.bg-rgba-blue-grey-slight,.rgba-blue-grey-slight:after {
    background-color: rgba(96,125,139,.1)
}

.bg-rgba-blue-grey-light,.rgba-blue-grey-light:after {
    background-color: rgba(96,125,139,.3)
}

.bg-rgba-blue-grey-strong,.rgba-blue-grey-strong:after {
    background-color: rgba(96,125,139,.7)
}

.bg-blue-grey.darken-1 {
    background-color: #546e7a!important
}

.bg-blue-grey.darken-2 {
    background-color: #455a64!important
}

.bg-blue-grey.darken-3 {
    background-color: #37474f!important
}

.bg-blue-grey.darken-4 {
    background-color: #263238!important
}

.bg-grey.lighten-5 {
    background-color: #fafafa!important
}

.bg-grey.lighten-4 {
    background-color: #f5f5f5!important
}

.bg-grey.lighten-3 {
    background-color: #eee!important
}

.bg-grey.lighten-2 {
    background-color: #e0e0e0!important
}

.bg-grey.lighten-1 {
    background-color: #bdbdbd!important
}

.bg-grey {
    background-color: #9e9e9e!important
}

.text-grey {
    color: #9e9e9e!important
}

.bg-rgba-grey-slight,.rgba-grey-slight:after {
    background-color: rgba(158,158,158,.1)
}

.bg-md-pills .nav-link:hover,.md-pills .nav-link:hover:after,.rgba-grey-light,.rgba-grey-light:after {
    background-color: rgba(158,158,158,.3)
}

.bg-rgba-grey-strong,.rgba-grey-strong:after {
    background-color: rgba(158,158,158,.7)
}

.bg-grey.darken-1 {
    background-color: #757575!important
}

.bg-grey.darken-2 {
    background-color: #616161!important
}

.bg-grey.darken-3 {
    background-color: #424242!important
}

.bg-grey.darken-4 {
    background-color: #212121!important
}

.bg-black,.picker__list-item:hover {
    background-color: #000!important
}

.text-black,.md-toast-close-button:focus,.md-toast-close-button:hover {
    color: #000!important
}

.bg-rgba-black-slight,.rgba-black-slight:after {
    background-color: rgba(0,0,0,.1)
}

.bg-rgba-black-light,.rgba-black-light:after {
    background-color: rgba(0,0,0,.3)
}

.bg-rgba-black-strong,.rgba-black-strong:after {
    background-color: rgba(0,0,0,.7)
}

.bg-rgba-white-slight,.rgba-white-slight:after {
    background-color: rgba(255,255,255,.1)
}

.bg-rgba-white-light,.rgba-white-light:after {
    background-color: rgba(255,255,255,.3)
}

.bg-rgba-white-strong,.rgba-white-strong:after {
    background-color: rgba(255,255,255,.7)
}

.bg-rgba-stylish-slight {
    background-color: rgba(62,69,81,.1)
}

.bg-rgba-stylish-light {
    background-color: rgba(62,69,81,.3)
}

.bg-rgba-stylish-strong {
    background-color: rgba(62,69,81,.7)
}

.bg-primary-color,ul.stepper li.active a .circle,ul.stepper li.completed a .circle {
    background-color: #4285f4!important
}

.bg-primary-color-dark {
    background-color: #0d47a1!important
}

.bg-secondary-color {
    background-color: #a6c!important
}

.bg-secondary-color-dark {
    background-color: #93c!important
}

.bg-default-color {
    background-color: #2bbbad!important
}

.bg-default-color-dark {
    background-color: #00695c!important
}

.bg-info-color {
    background-color: #33b5e5!important
}

.bg-info-color-dark {
    background-color: #09c!important
}

.bg-success-color {
    background-color: #00c851!important
}

.bg-success-color-dark {
    background-color: #007e33!important
}

.bg-warning-color {
    background-color: #fb3!important
}

.bg-warning-color-dark {
    background-color: #f80!important
}

.bg-danger-color,ul.stepper li.warning a .circle {
    background-color: #ff3547!important
}

.bg-danger-color-dark {
    background-color: #c00!important
}

.bg-elegant-color {
    background-color: #2e2e2e!important
}

.bg-elegant-color-dark {
    background-color: #212121!important
}

.bg-stylish-color {
    background-color: #4b515d!important
}

.bg-stylish-color-dark {
    background-color: #3e4551!important
}

.bg-unique-color {
    background-color: #3f729b!important
}

.bg-unique-color-dark {
    background-color: #1c2331!important
}

.bg-special-color {
    background-color: #37474f!important
}

.bg-special-color-dark {
    background-color: #263238!important
}

.purple-gradient {
    background: linear-gradient(40deg,#ff6ec4,#7873f5)!important;
}

.peach-gradient {
    background: linear-gradient(40deg,#ffd86f,#fc6262)!important
}

.aqua-gradient {
    background: linear-gradient(40deg,#2096ff,#05ffa3)!important
}

.blue-gradient {
    background: linear-gradient(40deg,#45cafc,#303f9f)!important
}

.purple-gradient-rgba {
    background: linear-gradient(40deg,rgba(255,110,196,.9),rgba(120,115,245,.9))!important
}

.peach-gradient-rgba {
    background: linear-gradient(40deg,rgba(255,216,111,.9),rgba(252,98,98,.9))!important
}

.aqua-gradient-rgba {
    background: linear-gradient(40deg,rgba(32,150,255,.9),rgba(5,255,163,.9))!important
}

.blue-gradient-rgba {
    background: linear-gradient(40deg,rgba(69,202,252,.9),rgba(48,63,159,.9))!important
}

.text-dark-text {
    color: #4f4f4f!important
}

.text-dark-text:focus,.dark-grey-text:hover {
    color: #4f4f4f!important
}

.juicy-peach-gradient {
    background-image: linear-gradient(to right,#ffecd2 0,#fcb69f 100%)
}

.young-passion-gradient {
    background-image: linear-gradient(to right,#ff8177 0,#ff867a 0,#ff8c7f 21%,#f99185 52%,#cf556c 78%,#b12a5b 100%)
}

.lady-lips-gradient {
    background-image: linear-gradient(to top,#ff9a9e 0,#fecfef 99%,#fecfef 100%)
}

.sunny-morning-gradient {
    background-image: linear-gradient(120deg,#f6d365 0,#fda085 100%)
}

.rainy-ashville-gradient {
    background-image: linear-gradient(to top,#fbc2eb 0,#a6c1ee 100%)
}

.frozen-dreams-gradient {
    background-image: linear-gradient(to top,#fdcbf1 0,#fdcbf1 1%,#e6dee9 100%)
}

.warm-flame-gradient {
    background-image: linear-gradient(45deg,#ff9a9e 0,#fad0c4 99%,#fad0c4 100%)
}

.night-fade-gradient {
    background-image: linear-gradient(to top,#a18cd1 0,#fbc2eb 100%)
}

.spring-warmth-gradient {
    background-image: linear-gradient(to top,#fad0c4 0,#ffd1ff 100%)
}

.winter-neva-gradient {
    background-image: linear-gradient(120deg,#a1c4fd 0,#c2e9fb 100%)
}

.dusty-grass-gradient {
    background-image: linear-gradient(120deg,#d4fc79 0,#96e6a1 100%)
}

.tempting-azure-gradient {
    background-image: linear-gradient(120deg,#84fab0 0,#8fd3f4 100%)
}

.heavy-rain-gradient {
    background-image: linear-gradient(to top,#cfd9df 0,#e2ebf0 100%)
}

.amy-crisp-gradient {
    background-image: linear-gradient(120deg,#a6c0fe 0,#f68084 100%)
}

.mean-fruit-gradient {
    background-image: linear-gradient(120deg,#fccb90 0,#d57eeb 100%)
}

.deep-blue-gradient {
    background-image: linear-gradient(120deg,#e0c3fc 0,#8ec5fc 100%)
}

.ripe-malinka-gradient {
    background-image: linear-gradient(120deg,#f093fb 0,#f5576c 100%)
}

.cloudy-knoxville-gradient {
    background-image: linear-gradient(120deg,#fdfbfb 0,#ebedee 100%)
}

.morpheus-den-gradient {
    background-image: linear-gradient(to top,#30cfd0 0,#330867 100%)
}

.rare-wind-gradient {
    background-image: linear-gradient(to top,#a8edea 0,#fed6e3 100%)
}

.near-moon-gradient {
    background-image: linear-gradient(to top,#5ee7df 0,#b490ca 100%)
}




.img-gradient {
    position:relative;
    display:inline-block;
}
.img-gradient:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    background: -moz-linear-gradient(top, rgba(0,47,75,0.5) 0%, rgba(220, 66, 37, 0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220, 66, 37, 0.5)), color-stop(100%,rgba(0,47,75,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.img-gradient img{
    display:block;
}

.img-gradient-overlay { /* FF3.6+ */ /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(rgba(0,47,75,0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
    background: -o-linear-gradient(rgba(0,47,75,0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
    background: linear-gradient(rgba(0,47,75,0.5) 0%, rgba(220, 66, 37, 0.5) 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */ /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    border-radius: .3rem;
}

.hoverable {
    box-shadow: none;
    transition: all .55s ease-in-out
}

.hoverable:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    transition: all .55s ease-in-out
}

.z-depth-0 {
    box-shadow: none!important
}

.chip:active,.z-depth-1 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important
}

.z-depth-1-half {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)!important
}

.z-depth-2 {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)!important
}

.z-depth-3 {
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19)!important
}

.z-depth-4 {
    box-shadow: 0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21)!important
}

.z-depth-5 {
    box-shadow: 0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22)!important
}